body {
    background-color: #323232;
    font-size: 12pt;
    color: #ffffff;
}

.title-text {
    font-size: 72pt;
    color: #b4ff00;
}

.title-text a:link,
.title-text a:visited,
.title-text a:hover,
.title-text a:active {
    color: #b4ff00;
}

.subtitle-text a:link,
.subtitle-text a:visited,
.subtitle-text a:hover,
.subtitle-text a:active {
    color: #b4ff00;
}

.subtitle-text {
    font-size: 16.5pt;
    color: #b4ff00;
}

.navbar {
    font-size: 14pt;
    background-color: #ffffff;
}

footer {
    margin-top: 10px;
    background-color: #888888;
    padding: 10px;
}

.body-img {
    width: 300px;
    height: 210px;
    border: 6px solid white;
    margin-bottom: 60px;
}

.footer-link {
    padding-left: 100px;
    color: #ffffff;
}

.footer-link:first-of-type {
    padding-left: 0;
}

.social-icons {
    float: right;
    color: #ffffff;
}

#map-canvas {
    width: 720px;
    height: 500px;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.btn-room {
    display: block;
    margin-top: 10px;
}
