@font-face {
    font-family: 'OCRAExtendedRegular';
    src: url('/fonts/ocr.ttf');
}

body {
    background-color: #323232;
    font-family: 'OCRAExtendedRegular';
    font-size: 12pt;
    color: #ffffff;
}

.title-text {
    font-size: 72pt;
    color: #b4ff00;
}

.title-text a:link,
.title-text a:visited,
.title-text a:hover,
.title-text a:active {
    color: #b4ff00;
}

.subtitle-text a:link,
.subtitle-text a:visited,
.subtitle-text a:hover,
.subtitle-text a:active {
    color: #b4ff00;
}

.white-links,
.white-links a:link,
.white-links a:visited,
.white-links a:hover,
.white-links a:active {
    color: #ffffff;
}

.black-links,
.black-links a:link,
.black-links a:visited,
.black-links a:hover,
.black-links a:active {
    color: #000000;
}

.subtitle-text {
    font-size: 16.5pt;
    color: #b4ff00;
}

.green-text {
    color: #b4ff00;
}

.navbar {
    font-size: 14pt;
    background-color: #ffffff;
}

footer {
    margin-top: 10px;
    background-color: #888888;
    padding: 10px;
}

.body-img {
    width: 300px;
    height: 210px;
    border: 6px solid white;
    margin-bottom: 60px;
}

.small-img {
    width: 250px;
    height: 175px;
    border: 6px solid white;
    margin-bottom: 60px;
}

.instruc-img {
    width: 300px;
    height: 210px;
    border: 6px solid white;
    margin-bottom: 60px;
}

.course-img {
    float: left;
    width: 260;
    height: 200px;
}

.footer-link {
    padding-left: 100px;
    color: #ffffff;
}

.footer-link:first-of-type {
    padding-left: 0;
}

.social-icons {
    float: right;
    color: #ffffff;
}

#map-canvas {
    width: 720px;
    height: 500px;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.center-img {
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.float-text {
    float: right;
}

.btn-room {
    display: block;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.gray-border {
    border: 1px solid #888888;
    padding: 5px;
}

.img-equip {
    width: 200px;
    height: 200px;
}

.bottom-padding {
    padding-bottom: 10px;
}

.btn-primary {
    background-color: #b4ff00;
    border-color: #6B9900;
    color: #000000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #000000;
    background-color: #8FCC00;
    border-color: #6B9900;
}

.btn-success {
    color: #000000;
    background-color: #E0FF99;
    border-color: #E6FFAD;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #000000;
    background-color: #9CB26B;
    border-color: #E6FFAD;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #E0FF99;
    border-color: #E6FFAD;
}
.btn-success .badge {
    color: #000000;
    background-color: #E0FF99;
}

.title{
    background-image: url(../assets/gymlogocool2.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.small-overlay-img,
.overlay-img {
    /* force the div to properly contain the floated images: */
    position:relative;
    float:left;
    clear:none;
    overflow:hidden;
}
.small-overlay-img img,
.overlay-img img {
    position:relative;
    vertical-align: text-bottom;
    z-index:1;
}

.overlay-img .desc {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    display:block;
    position: absolute;
    width: 96%;
    left: 2%;
    top: 66.5%;
    z-index:2;
    text-align:center;
}

.formelmt {
    margin: 10px;
}

.small-overlay-img .desc {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    display:block;
    position: absolute;
    width: 95%;
    left: 2.5%;
    top: 61.4%;
    z-index: 2;
    text-align:center;
}

@media (max-width: 768px) {
    .title {
        display: none;
    }
}

@media (min-width: 768px) {
  .navbar-brand {
    display: none;
  }
}
